<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Team Page
        link(rel="stylesheet", href="css/CSS Remedy.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header.grid.grid1
            .title
                h1 The creative crew
            .subText
                h3.uppercase who we are
                p
                    | We are team of creatively diverse. driven.<br>
                    | innovative individuals working in various<br>
                    | locations from the world.
        section.grid.grid2
                    .f_1.frame
                        img(src="assets/photo1.png", alt="bill mahoney")
                        p.position.uppercase product owner
                        p.name.initialUpper bill mahoney
                    .f_2.frame
                        img(src="assets/photo2.png", alt="saba cabrera")
                        p.position.uppercase art director
                        p.name.initialUpper saba cabrera
                    .f_3.frame
                        img(src="assets/photo3.png", alt="shae le")
                        p.position.uppercase tech lead
                        p.name.initialUpper shae le
                    .f_4.frame
                        img(src="assets/photo4.png", alt="skylah lu")
                        p.position.uppercase ux disigner
                        p.name.initialUpper skylah lu
                    .f_5.frame
                        img(src="assets/photo5.png", alt="griff richards")
                        p.position.uppercase developer
                        p.name.initialUpper griff richards
                    .f_6.frame
                        img(src="assets/photo6.png", alt="bill mahoney")
                        p.position.uppercase developer
                        p.name.initialUpper bill mahoney
        footer
            p
                small keiko.u @ DevChallenges.io
