<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404 Not Found
        link(rel="stylesheet", href="css/destyle.css")
        link(rel="stylesheet", href="css/style.css")
    body
        .frame
            header
                p 404 NOT FOUND
            .contents
                .grid
                    .PC_left_content
                        img(src="assets/Scarecrow.png", alt="Character image.")
                    .PC_right_content
                        section
                            h1 I have bad news for you
                            h2 The page you are looking for might be removed or is temporarily unavailable
                            button
                                a(href="https://devchallenges.io/challenges/wBunSb7FPrIepJZAg0sY") BACK TO HOMEPAGE
            footer
                small keiko.u @ DevChallenges.io
