<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/CSS Remedy.css")
        link(rel="stylesheet", href="css/style.css")
    body
        header
            h1 The creative crew
            h3.uppercase who we are
            p
                | We are team of creatively diverse. driven.<br>
                | innovative individuals working in various<br>
                | locations from the world.
        section
            .frame
                img(src="/assets/photo1.png", alt="xe")
                p.position.uppercase product owner
                p.name.initialUpper bill mahoney
            .frame
                img(src="/assets/photo2.png", alt="")
                p.position.uppercase art director
                p.name.initialUpper saba cabrera
            .frame
                img(src="/assets/photo3.png", alt="")
                p.position.uppercase tech lead
                p.name.initialUpper shae le
            .frame
                img(src="/assets/photo4.png", alt="")
                p.position.uppercase ux disigner
                p.name.initialUpper skylah lu
            .frame
                img(src="/assets/photo5.png", alt="")
                p.position.uppercase developer
                p.name.initialUpper griff richards
            .frame
                img(src="/assets/photo6.png", alt="")
                p.position.uppercase developer
                p.name.initialUpper Bill Mahoney
        footer
            p
                small keiko.u @ DevChallenges.io
