@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');
body{
    width: 95vw;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 7rem;
}
.title{
    grid-area: title;
}
.subText{
    grid-area: subText;
}
.f_1{
    grid-area: f_1;
}
.f_2{
    grid-area: f_2;
}
.f_3{
    grid-area: f_3;
}
.f_4{
    grid-area: f_4;
}
.f_5{
    grid-area: f_5;
}
.f_6{
    grid-area: f_6;
}
.uppercase{
    text-transform: uppercase;
}
.initialUpper{
    text-transform: capitalize;
}
.grid{
    display: grid;
    width: 100%
}
.grid1{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "title" "subText";
}
.grid2{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "f_1 f_2" "f_3 f_4" "f_5 f_6";
}


header{
    h1{
        font-family: PT Serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: -0.045em;
        text-align: left;
        color: #000000;
        display: block;
        margin-bottom: 0;

        // background-color: aqua;
    }
    h3{
        font-family: Poppins;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        margin-bottom: 0;
        margin-top: 2rem;

        // background-color: greenyellow;
    }
    p{
        font-family: Poppins;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        // line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        margin-bottom: 3rem;

        // background-color: rebeccapurple;
    }
}
section{
    .frame{
        img{
            display: inline;
            width: 9rem;
        }
        .position{
            display: inline;
            font-family: PT Serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0em;
            color: #000000;
            writing-mode: vertical-rl;
            margin-left: 0;
            margin-right: 0;
            height: 6.7rem;
        }
        .name{
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-top: 0.5rem;
        }
    }
}
.f_2,.f_4,.f_6{
    padding-top: 3.7rem;
}

footer{
    // height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    small{
        display: block;
        width: 100%;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 5rem;
        letter-spacing: 0em;
        text-align: center;
        color: #A9A9A9;
    }
}
@media (min-width: 769px){
    .grid1{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "title subText";
    }
    .grid2{
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "f_1 f_2 f_3" "f_4 f_5 f_6";
    }
    .frame_3row{
        flex: 0 0 auto;
    }
    header{
        padding-top: 4rem;
    }
}
